@{
}

<html>
    <head>

    </head>
    <body>
        <h2 style="color:whitesmoke">Quiet the mind and the soul will speak.</h2>

        <a href="@Url.Action("OneMinuteMeditation", "Meditation")" class="share-button" style="margin-top:140px">
            1 minute
        </a>

        <a href="@Url.Action("FiveMinutesMeditation", "Meditation")" class="share-button" style="margin-top:35px">
            5 minutes
        </a>

        <a href="@Url.Action("TenMinutesMeditation", "Meditation")" class="share-button" style="margin-top:35px">
            10 minutes
        </a>
    </body>
</html>

<style>
    body {
        background-image: url("https://i.pinimg.com/originals/18/ae/d9/18aed9f1517a51eea30c398572ab8f11.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }


    .share-button:hover {
        transform: scale(1.1);
        text-decoration: none;
        color: whitesmoke;
    }


    .share-button {
        width: 230px;
        height: 40px;
        background: #19334d;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 50px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        transition: .3s linear;
        text-decoration: none;
        color: whitesmoke;
        text-decoration:none;
        margin-left:50px;
        
    }

    h2 {
        margin-top:130px;
        margin-left:50px;
        font-size:35pt;
    }



</style>
